.reset_password {
  padding: 10px;
}

.topic {
  height: 40px;
  background-color: #eee;
  margin-top: -10px;
  margin: -10px -10px 0 -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  border-top: 2px solid #bbb;
  margin: 10px -10px;
}

.warning {
  margin-top: 4px;
  color: #e87c7c;
}

.box_1,
.box_2
{
  text-align: center;
}

.box_2 {
  display: none;
}

.field > div {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

.field label {
  position: absolute;
  top: 4px;
}

.field input {
  margin-left: 10px;
  padding: 4px 0;
  text-indent: 10px;
  width: 100%;
}

.btn {
  margin: 80px auto;
}

.msg {
  margin-top: 40px;
  color: #aaa;
}

@media (max-width: 799px) {

  .field label {
    position: initial;
  }
}
