.flex_box_1 {
	display: flex;
}

.post_date {
	display: flex;
  flex-direction: column;
}

.title {
	font-size: 16px;
	-webkit-line-clamp: 1;
	height: 22px;
}

.likes_row {
	display: flex;
	text-align: center;		
}

.likes {
	display: none;
}

.follows {
	display: none;
}

.mobile {
	display: none;
	align-items: center;
	width: 100%;
}

.desktop {
	display: flex;
	align-items: center;
	width: 100%;
}

.rows_type2 {
	font-size: 16px;
	padding: 10px 0;
}

@media (max-width: 1279px) {
	.header {
		display: none !important;
	}

	.rows {
		flex-direction: column;
	}

	.post_date {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.flex_box_1 {
		flex-direction: column;
	}

	.likes_row {
		flex: initial !important;
	}

	.likes_row > div {
		flex: initial !important;
		margin-right: 6px;
	}

	.likes {
		display: inline-block;
	}

	.follows {
		display: inline-block;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: flex;
	}

	.rows_type2 {
		border-bottom: 2px solid #bbb;
	}
}